/* start content styles */

.bread_crumbs {
    //text-align: center;
    margin-bottom: 28px;
    padding-top: 30px;
    font-weight: 900;
    font-size: 13px;
    color: #003fa6;
    text-transform: normal;
    letter-spacing: 0.3px;
       // margin-left: 11px;
    
    .in:after {
	display: none;
    }
    
    span, a {
	
	color: #c2c2c2;
	vertical-align: middle;
    display: inline-block;            
    }
        span 
        {
                margin: 0 -4px 0 -4px;
        }
     a:hover
        {
             text-decoration: underline;   
                color: #ff9500;
        }
     span:before
        {
                content: '';
                display: inline-block;
                background-color: transparent;
                border-radius: 50%;
                width: 6px;
                height: 6px;
                vertical-align: middle;
                margin-right: 8px;
                
                
                
        }
        span:after
        {
                content: '';
                display: inline-block;
                background-color: transparent;
                border-radius: 50%;
                width: 6px;
                height: 6px;
                vertical-align: middle;
                margin-left: 8px;
        }
        span:hover:after
        {
                background-color: #ff9500;
        }
        span:hover:before
        {
                background-color: #ff9500;
        }
    .arr {
	font-size: 19px;
	vertical-align: -2px;
    }
    
    .active {
	text-decoration: underline;
	vertical-align: middle;
    }
}

main {
    position: relative;
    margin-top: 106px;
        
        
}

.left, .right {
    max-width: 45%;
    
    img {
	display: inline-block;
	max-width: 100%;
    }
}
.left {
    float: left;
    margin: -5px 30px 20px 10px;
}
.right {
    float: right;
    clear: right;
    margin: 31px 5px 20px 30px;
}
                       //Чтобы заполнить пустоту
                .lslider
{
       float: left;
width: 654px;
margin-right: 75px;
height: 393px;
}

.content {
    .h1_bg {
	position: absolute;
	color: #eef4f6;
	text-transform: uppercase;
	font-size: 100px;
	line-height: 40%;
	z-index: 0;
	font-weight: 900;
            
    }
                    height: 2787px;    
    h1 {
	position: relative;
	z-index: 1;
	margin-bottom: 39px;
            margin-left: 69px;
    font-family: 'Bebas Neue';
    font-weight: bold; 
       color: #111111;
    }
        h2 , h5
        {
                margin-left: 50px;
                margin-bottom: 49px;
                line-height: 43px;
                  color: #111111;
        }
        h4{
                margin-left: 35px;
                color: #111;
        }
        h5
        {
                margin-top: 0px;
                margin-left: 32px;
                letter-spacing: 1px;
              
        }
        h3
        {
                margin-top: -15px;
                margin-left: 14px;
                color: #111111;
                margin-bottom: 58px;
        }
        h6
        {
                margin-top: 42px;
                margin-left: 31px;
                margin-bottom: 60px;
        }
   .span
        {
                display: block;
        }
      .left
        {
                margin-right: 74px;
        }
    
    .datetime {
	display: inline-block;
	position: relative;
	top: -27px;
	padding: 5px 25px 5px 5px;
	margin-bottom: 10px;
            font-size: 13px;
    font-family: 'Bebas Neue';
    font-weight: 400;            
       
            
	//margin-top: -30px;
	
	//background-color: #0b59d5;
	//color: #fff;
	font-weight: 500;
	&:before {
		content: '';
		display: inline-block;
        width: 24px;
        height: 19px;
        margin-right: 9px;
        background: url(images/calendar.png)left bottom no-repeat;
        margin-top: 0px;
        margin-left: 4px;
            
	    }
    }
}



.text {
    line-height: 170%;
    font-weight: 300;
    //padding-right: 65px;
    //margin-top: -28px;
        margin-left: 13px;
    margin-bottom: 35px;
        margin-top: -27px;     
    h4 {
	
        font-weight: 700;
        padding-left: 23px;
        padding-top: 7px;
        color: #111;
        
    
    }

    p 
        {
        line-height: 186%;
        }
    ul {
	padding-bottom: 15px;
	li {
	    position:  relative;
	    margin-bottom: 21px;
	    padding-left: 30px;
        color: #5b5b5b;            
	    
	    &:before 
		{
                content: '';
		//border-radius: 4px;
                width: 74px;
                height: 31px;
                background-color: #ff8c00;
                -webkit-transition: all 0.3s ease 0s;
                -moz-transition: all 0.3s ease 0s;
                -o-transition: all 0.3s ease 0s;
                transition: all 0.3s ease 0s;
                margin-right: -14px;
                margin-bottom: -3px;
                display: inline-block;
                background: url("images/arrow.png") no-repeat;
                margin-left: -31px;
                
	    }
	}
    }
    
    ol {
	list-style-type: none;
	counter-reset: number;
	overflow: auto;
	padding-left: 0;
	position: relative;
	z-index: 1;
	
	li {
	    position: relative;
	    //padding-left: 25px;
	    padding-top: 7px;
	    margin-bottom: 15px;
	    
	    &:before {
		display: inline-block;
		vertical-align: -1px;;
		counter-increment: number;
		content: "0" counter(number);
		//color: #fff;
        font-size: 17px;
            line-height: 100%;
            font-weight: 500;
            z-index: -1;
            margin-right: 15px;
            letter-spacing: 0.5px;
            width: 40px;
            margin-left: 19px;
            margin-bottom: 24px;
            color: #323232;
         background: url('images/mnogougolnik.png') no-repeat;        
}
	    }
	}
	
	&.highlight {
	    li {
		margin-bottom: 20px;
		padding-left: 70px;
		color: $color_a;
		&:before {
		    color: #fff;
		    position: absolute;
		    top: 0;
		    left: 0;
		    content: counter(number);
		    font-size: inherit;
		    width: 40px;
		    height: 40px;
		    background: #3863d0;
		    border-radius: 20px;
		    text-align:  center;
		    font-weight: normal;
		    //opacity: 0.5;
		    line-height: 40px;
		    
		    background: -webkit-linear-gradient(135deg, #26baff 0%, #1269d1 100%); /* для webkit-браузеров */
		    background: -moz-linear-gradient(135deg, #26baff 0%, #1269d1 100%); /* для firefox 3.6+ */
		    background: -o-linear-gradient(135deg, #26baff 0%, #1269d1 100%); /* для Opera 11.10+ */
		    background: -ms-linear-gradient(135deg, #26baff 0%, #1269d1 100%); /* для IE10+ */
		    background: linear-gradient(135deg, #26baff 0%, #1269d1 100%);
		}
	    }
	}
    }
    
    table {
	//margin-left: -40px;
            text-align: left;
	tr {
	    background-color: #f4f7fb;
	    border-bottom: 10px solid #fff;
	}
	
	td {
	    padding: 15px 20px;
	    width: 50%;
	}
    }
    




#article {
    .wrapper {
	background: none;
    }
    .main_photo {
	width: auto;
	float:  none;
	margin-right: 0;
	margin-bottom: 40px;
	
	&:before {
	    display: none;
	}
    }
    
    .text {
	margin-bottom: 50px;
    }
}

.more_text_link {
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #0d9df6;
    font-weight: 500;
    letter-spacing: 0.5px;
    border-bottom: 2px dotted #0d9df6;
    cursor: pointer;
    white-space: nowrap;
    
    &:after {
	content: '';
	width: 11px;
	height: 11px;
	display: inline-block;
	background: url(images/arrow_blue2.png) no-repeat left top;
	margin-left: 10px;
	margin-right: -20px;
	vertical-align: -2px;
    }
    
    &:hover {
	border-color: transparent;
    }
    &.trigger {
	&:after {
	    -moz-transform: rotate(180deg); /* Для Firefox */
	    -ms-transform: rotate(180deg); /* Для IE */
	    -webkit-transform: rotate(180deg); /* Для Safari, Chrome, iOS */
	    -o-transform: rotate(180deg); /* Для Opera */
	    transform: rotate(180deg);
	    //vertical-align: 2px;
	}
    }
}

.prevnext_links {
    margin-bottom: 50px; 
    //text-align:  justify;
    min-height: 32px;
    @include clear();
    .in:after {
	
	//display: block;
	//width: 100%;
    }
    
    
    .prev, .next {
	color: $color_text;
	text-decoration: none;
	display: inline-block;
	position: relative;
	
	span {
	    border-bottom: 1px dotted transparent;
	}
	
	.arr {
	    position: relative;
	    border: 0;
		margin-top: -3px;
		width: 46px;
		height: 32px;
		z-index: 5;
		outline: none;
		cursor: pointer;
		box-shadow: 0 0 30px rgba(0,0,0,0.14);
		background: #fff;
		@include transition(all);
		text-indent: -10000px;
		
		&:before, &:after {
			content: '';
			position: absolute;
			width: 11px;
			height: 11px;
			top: 50%;
			left: 50%;
			margin-top: -6px;
			margin-left: -5px;
			@include transition(all);
		}
		
		&:before {
			background: url(images/arrow_blue.png) no-repeat;
		}
		
		&:after {
			background: url(images/arrow_white.png) no-repeat;
			opacity: 0;
		}
	}
	&:hover {
	    color: $color_a;
	    
	    span {
		border-bottom: 1px dotted $color_a;
	    }
	    .arr {
			background-color: #0090e9;
			
			&:before {
				opacity: 0;
			}
			&:after {
				opacity: 1;
			}
		}
	}
    }
    .prev {
	margin-right: 15px;
	.arr {
	    float:  left;
	    margin-right: 15px;
		&:before, &:after {
			background-position: left center;
		}
	}
    }
    .next {
	margin-left: 15px;
	.arr {
	    float: right;
	    margin-left: 15px;
		&:before, &:after {
			background-position: right center;
		}
	}
    }
}

.galery {
    margin-bottom: 50px;
    padding-top: 20px;
    width: 100%;
    
    .slick-list {
	margin: 0 -2px;
    }
    
    .slide {
	margin: 2px;
	width: 25%;
	display: inline-block;
	position: relative;
	height: auto;
	height: 185px;
	
	a {
	    display: block;
	    width: 100%;
	    height: 100%;
	    
	    
	}
	
	img {
	    width: 100%;
	    display: inline;
	    vertical-align: bottom;
	    //width: 100%;
		height: 100%; 
		object-fit: cover;
	}
    }
    
    .slick-arrow {
	background-image: url(images/arr_white.png);
    }
}

.pagination {
    margin-bottom: 50px;
    li {
	display: inline-block;
	vertical-align: top;
	text-align: center;
	font-size: 16px;
	color: #989898;
	width: 21px;
	
	
	a {
	    display: block;
	    width: 21px;
	    height: 21px;
	    line-height: 23px;
	    vertical-align: middle;
	    color: #color_a;
	    //border-radius: 11px;
	    overflow: hidden;
	    text-decoration: none;
	    border: 1px solid transparent;
	    
	    &:hover {
		color: $color_a;
		border: 1px solid $color_a;
	    }
	    
	    &.active {
		background-color: $color_a;
		color: #fff;
		border: 1px solid $color_a;
	    }
	}
	
	&.pag-ar {
	    a {
		text-indent: -1000px;
		background-repeat: no-repeat;
		background-color: transparent;
		background-image: url(images/arr_small.png);
		//outline: 1px solid red;
	    }
	}
	
	&.prev {
	    a {
		background-position: 9px 7px;
		
		&:hover {
		    background-position: 9px -10px;
		}
	    }
	}
	&.next {
	    a {
		background-position: -11px 7px;
		
		&:hover {
		    background-position: -11px -10px;
		}
	    }
	}
    }
}



.block404 {
    background: #0251be url(images/page404_bg.jpg) no-repeat center/ cover;
    display: table-row;
    height: 100%;
    
    .in {
	display: table-cell;
	//text-align: center;
	height: 100%;
	vertical-align: middle;
	padding-top: 50px;
	padding-bottom: 50px;
	color: #fff;
    }
    
    .text {
	max-width: $max-width;
	margin: 0 auto;
	text-align: center;
	padding-right: 0;
    }
    
    .img404 {
	font-size: 300px;
	line-height: 90%;
	font-weight: 900;
	//color: #fff;
	margin-bottom: 40px;
	
	img {
	    max-width: 80%;
	}
    }
    
    p {
	font-size: 40px;
	font-weight: 900;
	line-height: 100%;
	letter-spacing: 2px;
	margin-bottom: 50px;
	text-transform: uppercase;
    }
    
    .error {
	font-size: 60px;
	color: #eaedf4;
    }
    
}
#news_item .wrapper
{
    background-image: url(images/news_bg.jpg);
    background-size: cover;
    background-position: top center;
}

#news_item
{
        h2{
                font-size: 31px;
        }
        
header
{
        background-color: #000b1d;
}
    
}
    #search
        {
                .wrapper{
        background-image: url(images/search.jpg);
                        main{
                        h1
                                {
                                        padding-top: 94px;
                            padding-bottom: 34px;
                                border-bottom: 1px solid #e6e7e9;
                                margin-left: 1px;
                                margin-bottom: 19px;
                                         }
                                        h2{
                                            margin-bottom: 43px; 
                                        color: #111;        
                                     
                                       em{
                                background-color: #fb9802;
                                padding-left: 3px;
                                padding-right: 3px;
                                font-style: normal;
                                        }        
                                   }
                                .text{
                         border-bottom: 1px solid #e6e7e9;
                            padding-bottom: 7px;
                           margin-bottom: 17px;
                        color: #a3a3a3;              
                                       em{ background-color: #fb9802;
                                padding-left: 3px;
                                padding-right: 3px;
                                font-style: normal;
                                color: #000;        }

                                        .bread_crumbs{
                                        margin-left: -27px;
                                        margin-bottom: 28px;
                                        padding-top: 12px;
                                        font-size: 16px;
                                        }
                                }
                .navigation
                        {
                                text-align: center;
                                margin-top: 42px;
                                padding-bottom: 87px;
                                li {display: inline-block;
                                display: inline-block;
                               margin-left: -29px;
                                margin-right: 47px;
                                      
                                &:nth-child(1)
                                        {
                                   margin-right: 2px;
                                        margin-left: 7px;
                                        }
                                        a {
                                        //color:#f8f8f8;
                                color: #000;
                                        display: inline-block;   
                                text-decoration: none;       
                                     
                                        }
                                }
                                   .active
                                                {
                         background: url(images/navigfigure.png);
                                width: 61px;
                                height: 46px;
                                line-height: 45px; 
                                                }
                        .nav-arleft
                                {
                                    background-image: url(images/left-arrow.png); 
                                 width: 34px;
                                height: 12px;
                                text-indent: -1000px;
                                margin-right: 33px;
                                background-repeat: no-repeat;
                                margin-left: -5px;
                                }
                                .nav-arright{
                        background-image: url(images/right-arrow.png); 
                                 width: 34px;
                                height: 12px;
                                text-indent: -1000px;
                                margin-left: -21px;
                                background-repeat: no-repeat;
                                margin-right: -110px;
                                line-height: 12px;
                                &:hover
                                        {
                                        background-image: url(images/mnogougolnik.png);
                                        }
                                }        
                        }
                        }
                }
        }
#nosearch
{ .wrapper 
        { background-image: url(images/nosearch.jpg);
                background-position: top center;
                background-size: contain;
        
        
        main{
                height: 1000px;
                margin-top: 128px;
                h1{
                        margin-top: 197px;
                }
                .text{
                        color: #000;
                        margin-top: 8px;
                        font-weight: 500;
                        margin-bottom: 21px;
                        
                }
                
        }
        }
}
#products
{
        
        h1{
                margin-top: 192px;
                margin-bottom: 51px;
        }
        main 
        {
                margin-top: 125px;
                padding-bottom: 94px;
        }
        h2
        {
                padding-top: 62px;
                padding-bottom: 40px;
        }
        .text{
                color: #000;
                margin-left: 4px;
        }

}
#about
{
        overflow: auto;
        .wrapper{background-image: url(images/about-bg.jpg)}
        .text{margin-left: -22px;}
        main {
                margin-top: 39px;
               
        
        #center
                {
                background: url(images/center-bg.jpg);
                background-size: contain;
                padding-top: 154px;
                padding-bottom: 147px;
                background-position-y: 63px;
                background-position-x: 13px;         
                background-repeat: no-repeat;       
                        h1 {
                                    margin-bottom: 54px;
                                        margin-left: -24px;
                                        margin-top: 13px;
                                        font-size: 60px;
                        }
                        .right{
                                margin: 30px 23px 20px 30px;
                        }        
        }
        }
        #advantages{
                .h1{
                        max-width: 649px;
                }
        }
        #production
        {padding-top: 150px;padding-bottom: 50px;
               .left_block 
                {
                       // width: 41.0256410256%;
                        width:  40.026%;
                        float: left;
                }
                h1{
                        margin-bottom: 48px;
                        margin-left: 8px;
                        font-size: 64px;
                } 
                .text{
                        margin-left: 16px;
                        text-align: left;
                        margin-bottom: 55px;
                }     
                .advantages_block 
                {
                        .num{
                                img{
                                        margin-left: 40px;
                                        margin-top: 29px;
                                        
                                }
                        }
                        li {
                                p{max-width: 65%;color: #646565;}
                                max-width: 212px;
                                margin-right: 4.6%;
                                padding: 25px 0 19px 21px;
                                &:before
                                {
    position: absolute;
    z-index: 0;
    content: '';
    left: 0px;
    top: 70px;
    width: 100px;
    height: 100px;
    background: url(images/blackdots-bg.png) repeat left top;
                                }
                        }
                }
                
        }
}
@media screen and (max-width: 1600px) {
    
}

@media screen and (max-width: 1300px) /*and (min-width: 1000px)*/ {
    
}
@media screen and (max-width: 1000px) {

}


@media screen and (max-width: 800px) {

    
}

@media screen and (max-width: 590px) {
    
}

@media screen and (max-width: 450px) {
    
}

/* end content styles */