/* start services styles */

#services {
    z-index: 1;
    overflow: hidden;
    background: #fff;
    //background: #fff url(images/services.jpg) no-repeat center top; // cover;
    
    .in {
	padding-top: 85px;
	padding-bottom: 105px;
    }
    
    .button_small {
	float: right;
	font-weight: 700;
	margin-top: 17px;
	margin-right: 5px;
    }
    
    
    .h2 {
	padding-right: 30px;
	font-size: 45px;
	margin-bottom: 30px;
    }
    
}

.services {
    position: relative;
    box-shadow: 0 11px 27px rgba(0, 0, 0, 0.2);
    line-height: 0;
    
    &:after {
	content: '';
	display: inline-block;
	width: 90%;
	height: 0;
	margin-top: -5px;
    }
    
    .serv_item {
	width: 20%;
	height: 500px;
	float: left;
	//box-shadow: 0 20px 20px rgba(33, 97, 143, 0.25);
	//border-radius: 11px 11px 0 0;
	//overflow: hidden;  
	text-align: center;
	//@include transition(all);
	margin-bottom: -10px;
	background-color: #000c1e;
	
	a {
	    display: block;
	    position: relative;
	    height: 100%;
	    width: 100%;
	    color: #fff;
	    
	    &:before {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		@include transition(all);
	    }
	}
	
	.bg {
	    position: absolute;
	    left: 0;
	    top: 0;
	    right: 0;
	    bottom: 0;
	    background: #ff8500 url(images/serv_bg.jpg) no-repeat center;
	    background-size: auto 115%;
	    opacity: 0;
	    @include transition(all);
	    
	    &:before {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		background:  url(images/serv_hover_bg.png) no-repeat center / cover;
	    }
	}
	
	.img {
	    margin-top: 170px;
	    display: inline-block;
	    position: relative;
	    z-index: 2;
	    
	    img {
		//max-width: 90%;
		@include transition(opacity);
		
		&.hover {
		    opacity: 0;
		    position: absolute;
		    left: 0;
		    top: 0;
		}
	    }
	}
	
	.h4 {
	    min-height: 95px;
	    padding: 22px 15px 10px;
	    box-sizing: border-box;
	    //width: 100%;
	    position: relative;
	    z-index: 2;
	    display: block;
	    left: 0;
	    bottom: 0;
	    color: #fff;
	    font-weight: 400;
	    font-size: 25px;
	    letter-spacing: .5px;
	    @include transition(all);
	    max-width: 255px;
		margin-left: auto;
		margin-right: auto;
	}
	
	.button {
	    opacity: 0;
	}
	
	&:hover {
	    //box-shadow: 0 12px 49px rgba(0, 0, 0, 0.21);
	    a {
		text-decoration: none;
	    }
	    
	    .bg {
		opacity: 1;
		top: -35px;
		bottom: -35px;
	    }
	    
	    .img {
		img {
		    opacity: 0;
		    
		    &.hover {
			opacity: 1;
		    }
		}
	    }
	    .button {
		opacity: 1;
	    }
	}
    }
}

@media screen and (max-width: 1600px) {
    
}

@media screen and (max-width: 1300px)  {
    
}
@media screen and (max-width: 999px) {
    
}
@media screen and (max-width: 800px) {
    
}

@media screen and (max-width: 590px) {
    
}

@media screen and (max-width: 450px) {
    
}
@media screen and (max-width: 380px) {
    
}

/* end services styles */